version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: internation_site
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - APP_ENV=local
    command: |
      ./gateway
      -debug
      -pprof=:8080
    volumes:
      - ./uploads:/app/uploads
      - ./static:/app/static
      - ./app_configs:/app/app_configs
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge